<h2>About</h2>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus tenetur obcaecati iste quod excepturi facere, assumenda omnis dicta odit, soluta dolores voluptatum officiis repellendus, quo, accusamus impedit id ad perspiciatis.</p>
<p>Created by manually</p>
<p>Created by -<strong><%= @created_by %></strong></p>

ID: <%= @id %><br />
Page: <%= @page %><br />
