<button type="button" name="button">
  <%= link_to('Back to Homepage', {controller: 'main', action: 'index'}) %>
</button><br />


<h1>Tasks homepage</h1>

<% if @page == 1 %>
  <h2>Task list</h2>
<% end %>

<ul>
  <% @tasks.each do |task| %>
    <li><%= task %></li>
  <% end %>
</ul>


<%= link_to('First task', task_path(1)) %>
